milvus_db/volumes/
milvus_db/docker-compose.override.yml
milvus_db/*.env

vectorscale_db/docker-compose.override.yml
vectorscale_db/*.env

data/*.json
data/*.pdf

*.log
logs/

__pycache__/
*.py[cod]
.venv/
venv/

.ipynb_checkpoints/

.idea/

images/abo-images-small/
images/metadata/